body {
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2300AEF0'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.19'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

#login_container {
    height: 100vh;
    display: flex;
    align-items: flex-end;
}

#login_container>div {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 600px;
    margin: auto;
    /* margin-top: 100px; */
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
}

#login_container>div>div:nth-child(2) {
    border-radius: 0px 20px 20px 0px;
}

#login_container>div>div:nth-child(1) {

    border-radius: 20px 0px 0px 20px;
}

#login_img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: #0c0032; */
    /* background-color: ; */
}

#login_img>img {
    /* margin-top: 80px; */
    width: 80%;
    /* height: 60%; */
    border-radius: 25px;
}

#login_img>h1 {
    font-size: 40px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#login_form {
    width: 50%;
    /* padding: 50px; */
    /* background-color: white; */
    margin: auto;
}

#login_form>h1 {
    text-align: center;
    margin: 0%;
}

hr {
    height: 5px;
    border-radius: 10px;
    width: 100px;
    border: none;
    background-color: #00AEF0;
    /* margin-bottom: 80px; */
}


#login_form>input,
#update-password>input {
    width: 90%;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid grey;
}

#login_form>input:focus,
#update-password>input:focus {
    outline: none;
}

#lfp {
    width: 93%;
    display: flex;
    justify-content: space-between;
}

#lfp>p,
#login_btn+a {
    /* border: 1px solid grey; */
    color: #03a9f4;
}

#lfp>p:hover {
    cursor: pointer;
    text-decoration: underline #03a9f4;
}

#login_btn,
#admin_login_btn,
#update-password>button {
    width: 93.2%;
    height: 50px;
    font-size: 20px;
    background-color: #00AEF0;
    color: white;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 15px;
}

#login_btn+a {
    text-decoration: none;
    padding-left: 5px;
}

#login_btn:hover,
#admin_login_btn:hover,
#update-password>button:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #00AEF0;
    border: 1px solid #00AEF0;
}

#options-div {
    width: 93%;
    display: flex;
    justify-content: space-between;
}

#options-div>a {
    text-decoration: none;
    color: #00AEF0;
}

#options-div>:nth-child(2) {
    color: #5A7194;
    text-decoration: underline;
}

#continue_div_login {
    width: 100%;
    text-align: center;
}

#continue_div_login>h3:nth-child(2) {
    margin-top: -15px;
}

#auth_login {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

#auth_login>img {
    width: 20px;
    background-color: white;
    border: 2px solid lightgray;
    padding: 7px;
    border-radius: 5px;
}

#auth_login>img:hover {
    cursor: pointer;
    background-color: lightblue;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#update-password {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #fff;
    padding: 30px 65px;
    border-radius: 12px;
    row-gap: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

label{
    color: #5A7194;
}

@media (max-width:700px) {
    body {
        background-color: #06aedf;
    }

    #login_form {
        width: 100%;
        margin: auto 5px;
    }

    #login_img {
        display: none;
    }

    #login_container>div:nth-child(2) {
        border-radius: 20px 20px 20px 20px;
    }

    #login_container>div {
        grid-template-columns: repeat(1, 1fr);
    }

    #nav {
        width: 80%;
    }

    #nav>div>h1 {
        font-size: 18px;
    }

    #nav>img {
        height: 20px;
    }
}

@media all and (min-width:700px) and (max-width: 1100px) {
    #login_form {
        width: 100%;
        margin: auto 25px;
    }

    #login_img {
        display: none;
    }

    #login_container>div:nth-child(2) {
        border-radius: 20px 20px 20px 20px;
    }

    #login_container>div {
        grid-template-columns: repeat(1, 1fr);
    }

    #nav {
        width: 85%;
    }

    #nav>div>h1 {
        font-size: 25px;
    }
}