body {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#nav {
    /* border: 1px solid rgb(255, 0, 0); */
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #ffffff;
}

#nav>div {
    /* border: 1px solid rgb(0, 0, 0); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

#nav>div>div {
    /* border: 1px solid red; */
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 20px; */
}

#nav>div>div>p {
    color: #00AEF0;
    font-size: 22px;
}

#nav>div>div>p:hover {
    cursor: pointer;
}

#nav>div>img {
    /* background-color: #2800a0; */
    width: 10%;
    height: 40px;
    /* border-radius: 10px 100px / 120px; */
}

#nav>div>img:hover {
    cursor: pointer;
}

@media (max-width: 700px) {
    #nav>div {
        width: 96%;
    }

    #nav>div>div {
        width: 40%;
        padding: 0px 10px;
    }

    #nav>div>div>p {
        font-size: 18px;
    }

    #nav>div>img {
        width: 120px;
    }
}

@media all and (min-width:700px) and (max-width: 1100px) {
    #nav>div {
        width: 96%;
    }

    #nav>div>div {
        width: 20%;
        padding: 0px 10px;
    }

    #nav>div>div>p {
        font-size: 18px;
    }

    #nav>div>img {
        width: 120px;
    }
}